<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokes</title>
</head>
<body>
    <label for="jokes">Select a category:</label>
    <form action="/category-select" method="post">
        <select name="jokes" id="jokes-category">
            <option value="Any">Any</option>
            <option value="Misc">Misc</option>
            <option value="Programming">Programming</option>
            <option value="Dark">Dark</option>
            <option value="Pun">Pun</option>
            <option value="Spooky">Spooky</option>
            <option value="Christmas">Christmas</option>
        </select>
        <button type="submit">submit</button>
    </form>
    
    
</body>
</html>